[Unit]
ConditionUser=!root
Description=SmartBox-compatible open source tool for signing ePorezi tax forms - Socket

[Socket]
ListenStream=[::1]:17165
Accept=no
NoDelay=true
MaxConnections=10

[Install]
WantedBy=sockets.target
