[Unit]
ConditionUser=!root
Description=SmartBox-compatible open source tool for signing ePorezi tax forms
After=network.target
Requires=epoxy.socket

[Service]
Type=notify
ExecStart=/usr/bin/epoxy --endpoint sd-listen --max-idle-seconds 600
NonBlocking=yes
Restart=on-failure
RestartSec=10s
KillMode=mixed

# Limits
LimitNOFILE=256
TasksMax=64

# Hardening
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
ProtectSystem=strict
SystemCallArchitectures=native

[Install]
Also=epoxy.socket
WantedBy=graphical.target
